body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./Assets/food.jpg);
    background-repeat: no-repeat;
    background-size: 100% 2000px;
}

.logo {
    border-radius: 50%;
}

h1 {
    font-weight: bold;
    color: rgb(88, 248, 187);
    text-shadow: 3px 3px black;
}

.col-lg-12 {
    display: flex;
    justify-content: center;
}

form {
    background-color:lightblue;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0 0 15px 8px;
    width: 75%;
}

.footnote {
    color: #777;
}

select {
    width: 80%;
}

.hidden {
    display: none;
}

.mapouter {
    margin-top: 3rem;
    box-shadow: 0 0 15px 8px;
    
    text-align: right;
    height: 250px;
    width: 150px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
    width: 150px;
  }

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
    width: 150px;
}

.second {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 0 15px 8px; */
}

.carousel-inner img {
    border-radius: 1rem;
    width: 350px;
    height: 350px;
}

.b {
    font-family: monospace;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
    border: 1px solid blue;
    background-color: lightblue;
    padding: 10px;
}

.btn {
    margin-top: 0;
}

footer {
    background: teal;
    margin-bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h3 {
    margin-bottom: 0;
    color: rgb(88, 248, 187);;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

li {
    width: 250px;
    background:rgb(179, 224, 255) !important;
}


@media only screen and (max-width: 850px) {
    body {
        background-repeat: initial;
        background-size: 100% 700px;
    }
    .form-group {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}


.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 4.5em;
    color: rgb(88, 248, 187);
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 3px;
    width: 100%;
    background-color: #402d2d;
    transform-origin: 0.5 0;
  }
  
  
  .ml5 .letters {
    text-align: center;
    display: inline-block;
    opacity: 0;
  }
  
  #any {
      display: flex;
      justify-content: center;
  }
