body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./Assets/food.jpg);
    background-repeat: no-repeat;
    background-size: 100% 1900px;
    /*background-size: cover;
    /* margin: 2rem; */
}

.hidden {
    display: none !important;
}

.col-lg-12 {
    display: flex;
    justify-content: center;
}

form {
    width: 75%;
    background-color:lightblue;
    border-radius:1rem ;
    border: 2px solid black;
    box-shadow: 0 0 15px 8px;
    padding: 10px 20px;
}

.footnote {
    color: #777;
}

.second {
    height: 450px;
    width: 1000px;
    background-color:transparent;
    padding: 1rem;
    border-radius:1rem ;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 0 15px 8px; */
}

.mapouter {
    margin-top: 3rem;
    box-shadow: 0 0 15px 8px;
    margin-right: 10rem;
    text-align: right;
    height: 250px;
    width: 150px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
    width: 150px;
  }

.logo {
    border-radius: 50%;
}

h1 {
    margin-left: 7.5rem;
    font-weight: bold;
    color: rgb(88, 248, 187);
    text-shadow: 3px 3px black;
}

.carousel-inner img {
    border-radius: 1rem;
    margin-right: 10rem;
    width: 60%;
    height: 30%;
}

.b {
    font-family: monospace;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
    border: 1px solid blue;
    background-color: lightblue;
    padding: 10px;
}
.btn {
    margin-top: 0;
      
}
  
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
}

footer {
    background: teal;
    width: 100%;
    position: relative;
    bottom: 0;
    height: 50px;
}

@media only screen and (max-width: 780px) {
    body {
        background-repeat: initial;
        background-size: 100% 600px;
    }
} 